<div class="container">

  <h1>TARJETAS DE CREDITO</h1>

  <!-- agregar tarjetas -->
  <div class="agregar">
    <h3><u> <strong> Agregar Tarjetas </strong></u></h3>


  </div>


  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label><i class="fa-solid fa-user"></i> Titular</mat-label>
      <input matInput placeholder="Titular " value="">
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> <i class="fa-solid fa-hashtag"></i> Numero de tarjeta</mat-label>
      <textarea matInput placeholder="Numero de Tarjetas"></textarea>
    </mat-form-field>
  </form>

  <div class="sub">
    <label for="edad"> <i class="fa-solid fa-calendar-days"></i>  Edad</label>
  </div>

  <br>
  <input type="date" id="edad" class="date">
  <br><br>

  <button type="submit" class="btn" mat-raised-button color="primary"> <i class="fa-solid fa-coins"></i>  Aceptar</button>

</div>


